@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    

}

.customTitle {
    font-family: 'Pacifico', cursive;
}

.banner {
    position: relative;
    text-align: center;
}

