$primary: #ff8e3c;
$secondary: #ff8e3c;
$success: #ff8e3c;
$info: #ff8e3c;
$warning: #ff8e3c;
$danger: #ff8e3c;
$light: #ff8e3c;
$dark: #ff8e3c;

@import "../../node_modules/bootstrap/scss/variables";

